<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/simple-datatables-style.css">
    <script src="{{url_for('todo-item.static', filename='socketio-2.3.0.js')}}"></script>
    <script src="{{url_for('todo-item.static', filename='element.js')}}"></script>
    <script type="module" src="{{url_for('todo-item.webcomponent')}}"></script>
  </head>
  <body>
      <table id="example" class="display nowrap" style="width:100%">
          <thead>
              <tr>
                  <th>index</th>
                  <th>todo</th>
                  <th>accountant</th>
                  <th>progress</th>
              </tr>
          </thead>
      </table>
  <form-todo-item></form-todo-item>
  <ul-todo-item></ul-todo-item>
  <script type="module">
    import {DataTable} from "/static/simple-datatables.js";
    const get = async (url) => { return (await fetch(url)).json(); }
    const dataTable = new DataTable("#example", {  ajax: {
      url: "{{url_for('data')}}",
      type: "json"
    }});
    dataTable.columns().sort(0, 'asc');
    io().on("Todo.update", function(index) {
      get("/Todo/"+index).then(todo => {
        // Fix display problems: Convert all values to string
        Object.keys(todo).forEach(function(key) {
          todo[key] = String(todo[key])
        });
        // Update the row index by deleting it and adding again at the end
        // Limitation: datatable require fixed rows orders, like a primary key column
        dataTable.rows().remove(index-1);
        dataTable.insert([todo]);
        dataTable.columns().sort(0, 'asc');
      });
    });
  </script>
  </body>
</html>